<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  />
  </system.web>

  <system.webServer>

    <httpErrors errorMode="Custom">
      <remove statusCode="400" />
      <error statusCode="400" path="/Error.aspx?err=400" responseMode="ExecuteURL" />
      <remove statusCode="401" />
      <error statusCode="401" path="/Error.aspx?err=401" responseMode="ExecuteURL" />
      <remove statusCode="403" />
      <error statusCode="403" path="/Error.aspx?err=403" responseMode="ExecuteURL" />
      <remove statusCode="404" />
      <error statusCode="404" path="/Error.aspx?err=404" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error.aspx?err=500" responseMode="ExecuteURL" />
    </httpErrors>

  </system.webServer>

</configuration>
